mixin companionsAside(filter)
  aside.companions__aside.companions-sidebar
    h2.companions-sidebar__title= filter.title

    form.companions-sidebar__form(action='#' method='get')
      if filter.groups && filter.groups.length
        each group in filter.groups
          fieldset.companions-sidebar__group
            legend.companions-sidebar__group-title= group.title

            if group.options && group.options.length
              ul.companions-sidebar__list.list-reset
                each option in group.options
                  li.companions-sidebar__item
                    label.companions-sidebar__control
                      input.companions-sidebar__input.visually-hidden(
                        type='checkbox'
                        name=group.name
                        value=option.value
                      )
                      span.companions-sidebar__mark
                      span.companions-sidebar__text= option.label

      if filter.transport && filter.transport.options && filter.transport.options.length
        fieldset.companions-sidebar__group
          legend.companions-sidebar__group-title= filter.transport.title

          ul.companions-sidebar__transport.list-reset
            each option in filter.transport.options
              li.companions-sidebar__transport-item
                button.companions-sidebar__transport-button(
                  type='button'
                  aria-label=option.label
                )
                  span.companions-sidebar__transport-icon= option.icon

      if filter.level
        fieldset.companions-sidebar__group
          legend.companions-sidebar__group-title= filter.level.title

          .companions-sidebar__range
            .companions-sidebar__range-values
              span.companions-sidebar__range-value(data-from)= filter.level.from
              span.companions-sidebar__range-divider —
              span.companions-sidebar__range-value(data-to)= filter.level.to

            .companions-sidebar__slider(
              data-min=filter.level.min
              data-max=filter.level.max
              data-from=filter.level.from
              data-to=filter.level.to
            )

      if filter.buttonText
        button.companions-sidebar__submit.button(type='submit')= filter.buttonText