-
  const profilePriceFeatures = [
    'Базовое размещение',
    'Вывод на первых позициях',
    'Кастомный цвет карточки',
  ];
  const profileModalPriceFeatures = [
    { text: 'Реклама у блоггера', price: '300 000 руб./пост' },
    { text: 'Накрутка подписчиков', price: 'от 1 руб./шт.' },
    { text: 'Лайки от ботов', price: 'от 20 коп./лайк' },
    { text: 'Ваш продакт-плейсмент', price: 'Индивидуально' },
  ];

section.profile 
    div.section__container
        .profile__wrapper
            h2.profile__title.title Добавьте свой профиль      
            .profile__container
                .profile__info
                    ul.profile__list
                        each feature, index in profilePriceFeatures
                            li.profile__item.profile__view
                                span.profile__number= index + 1
                                p.profile__text= feature
                    .profile__button
                        button.profile__button.profile__view.button-reset(type='button' aria-label='Показать тарифы для бизнеса' data-modal-open='profile')
                            span.profile__number.profile__button-icon
                            p.profile__button-text Показать тарифы для бизнеса
                .profile__price
                    .profile__price-container
                        .profile__price-text
                            h3.profile__price-title Бесплатно
                            ul.profile__price-list.list-reset
                                li.profile__price-item 99 руб./мес
                                li.profile__price-item 59 руб./мес
                        picture
                            source(
                                srcset="images/rates@1x.webp 1x, images/rates@2x.webp 2x"
                                type="image/webp"
                            )
                            source(
                                srcset="images/rates@1x.png 1x, images/rates@2x.png 2x"
                                type="image/png"
                            )
                            img.profile__rates-img(src="images/rates@1x.png" alt="Тарифы" width="200" height="202")

.profile__modal.modal(role='dialog' aria-modal='true' aria-labelledby='profile-modal-title' data-modal='profile')
    .modal__wrapper
        .modal__container
            .modal__content
                h2#profile-modal-title.modal__title Бизнес-тарифы
                ul.modal__list
                    each feature in profileModalPriceFeatures
                        li.modal__item
                            p.modal__text= feature.text
                            p.modal__price= feature.price
            button.modal__button.button-reset(type='button') Закрыть окно          